<h1 class="title">Welcome to LinguaMocha</h1>

<h2 class="subtitle">What do you know? What can you do?</h2>

<%= form_tag "/users/sign_up", method: "get" do %>
<%= text_field_tag :homeskill, nil, placeholder: "Spanish, Linear Algebra, Paintballing..." %>
<%= image_submit_tag "20-glyph-icons/glyph-icons-black/video-play.png", id: "go" %> 
<% end %>

<h3 class="popular-skills">Popular Skills: Improv Comedy, Twerkin', Painting</h3>
