<tr class="fields">
  <td>
	<div class="ui-widget">
  	  <%#= f.label :interest %><br />
  	  <%= f.text_field :tag, :class => "interest" %>
	</div>	
  </td>

  <td><br /><%= f.link_to_remove image_tag("delete.png") %></td>

</tr>