<tr class="fields" id=<%="#{index}"%>>
    <td>
  		<div class="ui-widget">
  	  		<%= f.text_field :tag, :class => "interest" %>
		</div>	
  	</td>

	<td class=<%="#{index}"%> id="delete"><br /><%= f.link_to_remove image_tag("delete.png") %></td>
</tr>
<tr><td> </td></tr>
<tr><td> </td></tr>