<% if @past_received != []%>
	<% @past_received.each do |request| %>
		
	 	<div class="title">
			<%= link_to "#{request.title}", request_path(request.id) %>
			<%#= "You accepted this request." if request.receiver_confirmation %><br />
		</div>
	
		<div class="from">
			<label for="sender">From:</label>
			<p id="sender"><%= request.sent_by.name%></p>
		</div>

		<% if request.date %>
			<div class="deadline">
				<label for="deadline_date">You met on: </label>
				<p id="deadline_date"><%= request.date.strftime("%b %e, %Y") %></p>
			</div>
		<% end %>

		<div class="request">
			<p><%#= request.messages.first.body if request.messages.first %></p>
		</div>
		
	
	<% end %>
<% else %>
	<i>No received requests in your history</i>
<% end %>