<div id="received-tabs">
	<ul>
    	<li><a href="#received-tabs-3">Pending Received Requests</a></li>
    	<li><a href="#received-tabs-4">Past Received Requests</a></li>
	</ul>
	<div id="received-tabs-3">
		<%= render "received" %>
	</div>
	
	<div id="received-tabs-4">
		<%= render "past_received" %>
	</div>
</div>