<div id="sent-tabs">
	<ul>
    	<li><a href="#sent-tabs-1">Pending Sent Requests</a></li>
    	<li><a href="#sent-tabs-2">Past Sent Requests</a></li>
	</ul>
	<div id="sent-tabs-1">
		<%= render "sent" %>
	</div>
	
	<div id="sent-tabs-2">
		<%= render "past_sent"%>
	</div>
</div>