
<table id="thetable">
	<thead>
		<td class="day" id="1">2/17/2013</td>
		<td class="day" id="2">2/18/2013</td>
		<td class="day" id="3">2/19/2013</td>
		<td class="day" id="4">2/20/2013</td>
		<td class="day" id="5">2/21/2013</td>
		<td class="day" id="6">2/22/2013</td>
		<td class="day" id="7">2/23/2013</td>
	</thead>
	
	<% times = ["9:00 AM", "10:00 AM", "11:00 AM", "12:00 PM",
			"1:00 PM", "2:00 PM", "3:00 PM", "4:00 PM", 
			"5:00 PM", "6:00 PM", "7:00 PM", "7:00 PM",
			"9:00 PM", "10:00 PM", "11:00 PM"] %>

	<% times.each_with_index do |t, i| %>
		<tr>		
			<% 7.times do |j| %>
				<td class="time" id=<%="#{i+1}_#{j+1}"%>><%="#{t}"%></td>
			<% end %>
		</tr>
	<% end %>

</table>


<p> Key: </p>
<p><font color = "00AA00"> Green = Available and Preferred </font></p>
<p> <font color = "grey"> Grey = Not Available </font> </p>