<h1>Sent Requests</h1>

<% if @sent %>
	<% @sent.each do |request| %>
		<% if request.pending_approval? %>
			<%= link_to "#{request.title}", request_path(request.id)%><%= "-- pending approval by #{request.receiver}"%><br />
		<% else %>
			<%= link_to "#{request.title}", request_path(request.id)%><br />
		<% end %>
	<% end %>
<% else %>
	<i>No requests have been sent</i>
<% end %>
		
<br /><br />
		
<h1>Received Requests</h1>

<% if @received %>
	<% @received.each do |request| %>
		<%= link_to "#{request.title} -- #{request.sent_by}", request_path(request.id)%><br />
	<% end %>
<% else %>
	<i>No requests have been received</i>
<% end %>		