/*
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require 960_12_col
 *= require jquery-custom
 *= require font
 *= require_self
 */


     
/* ***********************
*************************
      =general
**************************
*********************** */

h1, h2, h3, h4, h5, p, strong, em {
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-size: 20px;
  font-family: 'OpenSansBold';
  text-align: left;
  padding-bottom: 10px;
  margin: 0;
}


p, footer, input, h5 {
    font-family: 'OpenSansRegular';
  font-weight: 400;
}

p, i, footer {
    font-size: 14px;
}
h2, h3, h4 {
  font-size: 15px;
  font-family: 'OpenSansBold';
}

h3 {
  text-decoration: none;
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
    font-size: 13px;
  text-align: right;
}

input {
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid #104717;
    margin-bottom: 20px;
    padding-top: 0;
}

body {
  background-image: url('black-Linen.png');
  font-family: 'OpenSansRegular';
  margin: 0;
}

.content {
  margin: 50px;
}


     
/* ***********************
*************************
      =header
**************************
*********************** */

.fixed_bar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  background-color: white;
}

.header_container { 
  background-color: #104717;  
  position:relative;
  height: 40px; 
  width: 100%;
  border-bottom: 5px solid #44A350;
}

.logo {
  padding: 5px;
  height: 30px;
} 

#search_bar {
  margin-left: 300px;
  position: relative;
  top: -40px;
}

#search_button {
  position: relative;
  top: -40px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline;
  color:#777777;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}



.nav ul {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 10px;
}
.nav li {
  display: inline;
  margin: 0 20px;
}
.nav li a {
  color: white;
  text-decoration: none;
  font-family: 'OpenSansRegular';
  font-size: 15px;
}
.nav li a:hover {
  text-decoration: underline;
}


/*
 ******************************
   welcome page
 ******************************
*/

#frontpage {
  height: 230px;
  width: 400px;
  display: block;
  margin: 50px 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wrapper {
  position: absolute;
  overflow: visible;
  display: block;
  width: 100%;
  left: 0px;
  right: 0;
  bottom: 0;
  top: 40px;
}
.container_12 {
    border-left: 5px solid #44A350;
    border-right: 5px solid #44A350;
    position: relative;
    width: 1060px;
    margin: 0 auto;
    z-index: 2;
    background-color: white;
    min-height: 100%;
    top: 0;
    bottom: 0;
}
     
/* ***********************
*************************
      =sign_in
**************************
*********************** */

#sign_in, #sign_up  {
  font-size: 20px;
  margin-bottom: 40px;
  font-family: 'OpenSansBold';
}

label {
  display: block;
  padding: 0;
}
.remember_me label {
  display: inline;
}
.remember_me {
  margin-bottom: 50px;
}

#sign_in_submit {
  font-size: 15px;
  margin-bottom: 30px;
}
#sign_in_submit:hover {
  cursor: pointer;
}

#user_email, #user_password {
  height: 20px;
  border: 2px solid #104717;
  border-radius: 3px;
  font-size: 15px;
  width: 200px;
}

.content a {
  display: block;
} 

     
/* ***********************
*************************
      =profile
**************************
*********************** */

#prof_pic img, #search_image {
    border: 3px solid #6db776;
    margin-bottom: 20px;
}

.name {
  float: left;
}

.label {
  float: left;
}
.label_responses {
  float: left;
  margin-top: 20px;
}
.occupation .label_responses, .education .label_responses {
    margin-top: 30px;
}

.label h3 {
  text-align: left;
}
.occupation {
    margin-left: 30px;
}

.education, .occupation, .bio {
    padding: 15px;
    border: 2px solid #6db776;
}
.skills, .currently_learning, .occupation, .education, .bio {
    background-color: #F3FFF5;
    float: right;
}
.currently_learning, .occupation, .education, .bio {
  margin-bottom: 20px;
}

.bio {
  border: 2px solid #6db776;
  margin-top: 30px;
}
.skills {
    margin-top: 30px;
    padding: 15px;
    border-left: 2px solid #6db776;
    border-top: 2px solid #6db776;
    border-right: 2px solid #6db776;
}
.skill, .learn {
  font-family: 'OpenSansBold';
  font-size: 14px;
}
.skill_description, .learn_description {
    font-family: 'OpenSansItalic';
    font-style: none;
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 20px;
}

textarea.skill_description{
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid #104717;
  font-family: 'Open Sans';
  font-size: 14px;
  padding-left: 4px;
}
.more_info {
  margin-top: 80px;
  margin-bottom: 50px;
}
.currently_learning {
    padding: 0px 15px 15px 15px;
    border-left: 2px solid #6db776;
    border-right: 2px solid #6db776;
    border-bottom: 2px solid #6db776;
}


.label_responses p {
  margin-left: 0px;
}


.learning h3, .learning p {
  margin-left: 0px;
}

td#delete{
  position: relative;
  top: -19px;
  display: none;
}

td#remove{
  position: relative;
  top: 4px;
}

/* 
 ******************************
      =references
 ******************************
*/



.reference {
  border-top: 1px solid #6db776;
  padding-top: 30px;
}
.reference_group {
  margin-top: 50px;
  min-height: 400px;
}
.reviewer {

}
.reviewer a {
  text-decoration: none;
  text-align: left;
  font-size: 14px;
}

.review p {
  font-size: 14px;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #6db776;
}


/***** Sending Request ******/

#message {
    margin-top: 30px;
    padding: 3px;
}

#request {
    border-radius: 5px;
    border: 1px solid #104717;
    width: 700px;
    height: 300px;
    padding: 5px;
    margin-top: 20px;
    font-size: 14px;
}

#receiver, #deadline_date, #send_message {
    padding: 3px;
    margin: 10px;
}

#send_message {
    display: block;
}

#optional_message {
    border-radius: 5px;
    border: 1px solid #104717;
    width: 860px;
    height: 150px;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
}

#send_message {
    display: block;
    padding: 3px;
    margin: 10px 60px;
}

#zipcode {
  margin: 0px 5px;
}

.restaurant {
  margin-top: 40px;
  margin-left: 80px;
}

.restaurant_address {
  padding: 0px;
  padding-top: 2px;
  margin: 0px;
  margin-left: 80px;
  font-size: 12px; 
}
.rating {
  display: inline;
  margin-left: 80px;
}
.message {
  margin-left: 50px;
  margin-top: 50px;
}

.from, .deadline {
    margin: 10px;
}

.from label{
  font-size: 16px;
}

#sender, #deadline_date {
    display: inline;
    font-family: 'OpenSansBold';
  font-weight: 400px;
    padding-left: 10px;
  font-size: 16px;
}
.request {
    border-bottom: 2px solid #104717;
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.request p{
  font-size: 16px;
}

ul.request_options {
  padding-top: 10px;
  padding-bottom: 30px;
}

ul.request_options li {
    display: inline;
    margin: 5px;
    padding: 5px;
}

ul.request_options a{
  text-transform: uppercase;
  font-weight: bold;
}

#request_options li.current{
    font-weight: bolder;
}

#request_option li:hover {
    -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
}

#accept_request, #reject_request {
    margin-top: 30px;
    margin-left: 10px;
}



/*
 ******************************
   =search
 ******************************
*/

.prof_image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.search_name{
  text-decoration: none
}


/* 
 ******************************
      =footer
 ******************************
*/
.copyright {
  position: absolute;
  bottom: 0;
  left: 10px;
}
footer {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 12px;
}

