/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require 960_12_col
 *= require jquery-custom
 *= require font
 *= require_self
 */

/***** Overall *****/

h1, h2, h3, h4, h5, p, strong, em {
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-size: 20px;
    font-family: 'OpenSansBold';
	text-align: left;
	padding-bottom: 10px;
}

p, footer, input, h2, h3, h4, h5 {
    font-family: 'OpenSansRegular';
	font-weight: 400;
}

p, footer {
    font-size: 13px;
}
h2, h3, h4 {
    font-size: 15px;
}

h3 {
	padding-bottom: 10px;
	text-decoration: none;
}

h4 {
	margin-right: 640px;
	text-align: right;
	border-bottom: 2px solid #6db776;
}

h5 {
    font-size: 13px;
	text-align: right;
}

input {
    border-radius: 5px;
    box-shadow: none;
    border: 2px solid #104717;
/*    cursor: pointer;	*/
}

body {
    background-color: #F3FFF5;
	font-family: 'OpenSansRegular';
}

/* 
 ******************************
      =header
 ******************************
*/
.fixed_bar {
	position: fixed;
    top: 0px;
	width: 100%;
	z-index: 5;
    background-color: white;
}

.header_container { 
	background-color: #104717;  
	position:relative;
	height: 40px; 
	width: 100%;
	margin: auto;
    border-bottom: 5px solid #44A350;
}

.logo {
	padding: 5px;
	height: 30px;
} 

#nav_container {
	position: absolute;
	bottom: 0px;
	right: 0px;
	float: right;
	margin-bottom: 5px;
	margin-right: 10px;
}

#search_bar {
    margin-left: 50px;
    padding-left: 5px;
    padding: 2px 5px 2px;
	position: absolute;
	top: 10px;
	left: 100px;
}

#search_button {
    margin-left: 50px;
    padding-left: 5px;
    padding: 2px 5px 2px;
	position: absolute;
	top: 10px;
	left: 260px;
}


nav li {
	display: inline;
}
nav li a {
	color: white;
	text-decoration: none;
    font-family: 'OpenSansRegular';
	font-size: 12px;
	padding: 15px 20px;
}
nav li a:hover {
    text-decoration: underline;
}


/* 
 ******************************
      =main
 ******************************
*/


/*
 ******************************
	 welcome page
 ******************************
*/

#frontpage {
	height: 230px;
	width: 400px;
    display: block;
    margin: 50px 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container_12 {
    border-left: 2px solid #C0C0C0;
    border-right: 2px solid #C0C0C0;
    padding-left: 50px;
    position: relative;
	padding-top: 85px;
    z-index: 2;
    background-color: white;
}

/*** Profile *******/

#pic {
    border: 3px solid #6db776;
}

.name {
	float: left;
}

.label {
	float: left;
}
.label_responses {
	float: left;
    margin-top: 20px;
}
.occupation .label_responses, .education .label_responses {
    margin-top: 30px;
}

.label h3 {
	text-align: left;
}
.education {
    float: left;
}
.occupation {
    float: right;
    margin-left: 30px;
}
.education, .occupation {
    padding: 15px;
    border: 2px solid #6db776;
    margin-top: 50px;
}
.skills, .currently_learning, .occupation, .education {
    background-color: #F3FFF5;
}
.skills {
    margin-top: 35px;
    padding: 15px;
    border-left: 2px solid #6db776;
    border-top: 2px solid #6db776;
    border-right: 2px solid #6db776;
}
.skill_description {
    font-family: 'Open Sans Italic';
    padding-left: 20px;
    padding-bottom: 20px;
}
.currently_learning {
    padding: 0px 15px 15px 15px;
    border-left: 2px solid #6db776;
    border-right: 2px solid #6db776;
    border-bottom: 2px solid #6db776;
}

.person, .education, .occupation {
    float: left;
}
.skills, .currently_learning {
    float: right;
    margin-right: 30px;
}

.label_responses p {
	margin-left: 0px;
}


.learning h3, .learning p {
	margin-left: 0px;
}

/* 
 ******************************
      =references
 ******************************
*/

.reference_group {
	margin-top: 60px;
}

.reference {
	padding-top: 30px;
}
.reviewer a {
	text-decoration: none;
}

.review p {
	font-size: 14px;
	text-align: left;
	margin-left: 70px;
    margin-right: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #6db776;
}


/***** Sending Request ******/

#message {
    margin-top: 30px;
    padding: 3px;
}

#request {
    border-radius: 5px;
    border: 1px solid #104717;
    width: 700px;
    height: 300px;
    padding: 5px;
    margin-top: 20px;
    font-size: 14px;
}

#receiver, #deadline_date, #send_message {
    padding: 3px;
    margin: 10px;
}

#send_message {
    display: block;
}

#optional_message {
    border-radius: 5px;
    border: 1px solid #104717;
    width: 860px;
    height: 150px;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
}

#send_message {
    display: block;
    padding: 3px;
    margin: 10px 60px;
}

#zipcode {
	margin: 0px 5px;
}

.restaurant {
	margin-top: 40px;
	margin-left: 80px;
}

.restaurant_address {
	padding: 0px;
	padding-top: 2px;
	margin: 0px;
	margin-left: 80px;
	font-size: 12px; 
}
.rating {
	display: inline;
	margin-left: 80px;
}
.message {
	margin-left: 50px;
	margin-top: 50px;
}

.from, .deadline {
    margin: 10px;
}

.from label{
	font-size: 16px;
}

#sender, #deadline_date {
    display: inline;
    font-family: 'OpenSansBold';
	font-weight: 400px;
    padding-left: 10px;
	font-size: 16px;
}
.request {
    border-bottom: 2px solid #104717;
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.request p{
	font-size: 16px;
}

ul.request_options {
	padding-top: 10px;
	padding-bottom: 30px;
}

ul.request_options li {
    display: inline;
    margin: 5px;
    padding: 5px;
}

ul.request_options a{
	text-transform: uppercase;
	font-weight: bold;
}

#request_options li.current{
    font-weight: bolder;
}

#request_option li:hover {
   	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-ms-transform: scale(1.07);
}

#accept_request, #reject_request {
    margin-top: 30px;
    margin-left: 10px;
}

/*** Sign In page ***/

#user_email{
	height: 20px;
	margin: 10px;
	border: 2px solid #104717;
	border-radius: 3px;
	font-size: 17px;
	width: 200px;
}

#user_password{
	height: 20px;
	margin: 10px;
	border: 2px solid #104716;
	border-radius: 3px;
	font-size: 17px;
	width: 200px;
}

/*
 ******************************
	 =search
 ******************************
*/

#search_image{
	width: 100px;
	height: 100px;
}

.search_name{
	text-decoration: none
}


/* 
 ******************************
      =footer
 ******************************
*/
footer {
	padding-top: 50px;
    padding-right: 50px;
	padding-bottom: 10px;
	text-align: right;
	font-size: 12px;
}

