
<div id="header_container">
	<header>
		<%= image_tag("logo.png", :size => '30x30') %>
	</header>
</div>

<div id="nav_container">
	<nav>
		<ul>
			<% if user_signed_in? %>
				<li><a href="#" class="selected">Profile</a></li>
				<li><a href="#">Find People</a></li>
				<li><a href="#">Requests</a></li>
				<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
			<% else %>
				<%= link_to "Sign In", new_user_session_path %> or
				<%= link_to "Sign Up", new_user_registration_path %>
			<% end %>
		</ul>
	</nav>
</div>