
<div id="header_container">
	<header>
		<%= link_to image_tag("logo.png", :size => '30x30'), root_url, :id => "logo" %>
	</header>
</div>

<div id="nav_container">
	<nav>
		<ul>
			<% if user_signed_in? %>
				<li><a href="#" class="selected">Profile</a></li>
				<li><a href="#">Find People</a></li>
				<li><a href="#">Requests</a></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Sign In", new_user_session_path %></li> or
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<% end %>
		</ul>
	</nav>
</div>